
<div class="page">
  <div class="nav">
    <ion-icon name="arrow-back"></ion-icon>
    <h4 class="mt-2 something">Friend</h4>
    <img src="https://i.pinimg.com/474x/af/9f/1f/af9f1fed99621ae20f9edd2ab6cbb8bd.jpg" alt="..." routerLink="/profile">
  </div>
  <div class="chat-box">
    <div class="message-area">
      <div class="message" *ngFor="let message of messages" [ngClass]="getClasses(message.type)">
        <p>{{message.text}}</p>
      </div>
    </div>
    <div class="emo-area">
      <!-- emoji-panel component comes here -->
    </div>
    <div class="type">
      <div class="input-area">
        <form (submit)="sendMessage()" name="messageForm" #messageForm="ngForm">
          <ion-input type="text" name="message" id="message" [(ngModel)]="message" placeholder="Say something simple..."></ion-input>
          <button>
            <ion-icon class="bton"name="navigate-circle" *ngIf="message; else record"></ion-icon>
            <!-- OR -->
            <ng-template #record>
              <ion-icon name="videocam"></ion-icon>
            </ng-template>
          </button>
        </form>
      </div>
    </div>
    
  </div>
</div>